/***************************************
    STYLES FOR FONTS
****************************************/
h1 {
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  @media only screen and (min-width: 1601px) and (max-width: 2560px) {
  }

  @media only screen and (min-width: 1001px) and (max-width:1600px) {
  font-size: 100px;
  }

  @media only screen and (min-width: 701px) and (max-width: 1000px) {
  font-size: 100px;
  }

  @media only screen and (min-width: 401px) and (max-width: 700px) {
  font-size: 50px;
  line-height: 60px;
  }

  @media only screen and (max-width: 400px)  {
  font-size: 50px;
  line-height: 60px;
  }
}

h2 {
  font-size: 50px;
  padding: 0px;
  @media only screen and (min-width: 1601px) and (max-width: 2560px) {
  font-size: 70px;
  }

  @media only screen and (min-width: 1001px) and (max-width:1600px) {
  font-size: 40px;
  margin: 10px;
  }

  @media only screen and (min-width: 701px) and (max-width: 1000px) {
  font-size: 40px;
  line-height: 70px;
  margin: 10px;
  }

  @media only screen and (min-width: 401px) and (max-width: 700px) {
  font-size: 35px;
  line-height: 45px;
  }

  @media only screen and (max-width: 400px)  {
  font-size: 30px;
  line-height: 45px;
  }
}

h3 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  @media only screen and (min-width: 1601px) and (max-width: 2560px) {

  }

  @media only screen and (min-width: 1001px) and (max-width:1600px) {
  margin: 10px;
  }

  @media only screen and (min-width: 701px) and (max-width: 1000px) {

  }

  @media only screen and (min-width: 401px) and (max-width: 700px) {
  font-size: 18px;
  line-height: 40px;
  }

  @media only screen and (max-width: 400px)  {
  font-size: 18px;
  line-height: 40px;
  }
}

h4 {
  font-size: 20px;
  @media only screen and (min-width: 1601px) and (max-width: 2560px) {
  font-size: 30px;

  }

  @media only screen and (min-width: 1001px) and (max-width:1600px) {

  }

  @media only screen and (min-width: 701px) and (max-width: 1000px) {
  font-size: 20px;
  line-height: 40px;
  }

  @media only screen and (min-width: 401px) and (max-width: 700px) {
  font-size: 22px;
  line-height: 40px;
  }

  @media only screen and (max-width: 400px)  {
  font-size: 25px;
  line-height: 40px;
  }
}

h5 {
  font-size: 15px;
  @media only screen and (min-width: 1601px) and (max-width: 2560px) {
  font-size: 30px;;

  }

  @media only screen and (min-width: 1001px) and (max-width:1600px) {
  font-size: 25px;
  }

  @media only screen and (min-width: 701px) and (max-width: 1000px) {
  font-size: 20px;
  }

  @media only screen and (min-width: 401px) and (max-width: 700px) {
  font-size: 16px;
  line-height: 50px;
  }

  @media only screen and (max-width: 400px)  {
  font-size: 16px;
  line-height: 40px;
  }
}

p {
  font-size: 20px;
  line-height: 60px;
  font-family: 'Open Sans', sans-serif;

  @media only screen and (min-width: 1601px) and (max-width: 2560px) {
  font-size: 25px;
  }

  @media only screen and (min-width: 1001px) and (max-width:1600px) {
  font-size: 20px;;
  line-height: 40px;
  }

  @media only screen and (min-width: 701px) and (max-width: 1000px) {
  }

  @media only screen and (min-width: 401px) and (max-width: 700px) {
  font-size: 20px;
  line-height: 35px;
  }

  @media only screen and (max-width: 400px)  {
  font-size: 20px;
  line-height: 35px;
  }
}

a {
  color: #ba0044;
  text-decoration: none;
}

a:visited {
  color: #ba0044;
}

.font-colour {
  color: #282C34;
}

.handwriting {
  font-family: 'Pacifico', cursive;
  color: #ba0044;
}

.skills {
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
}
