/*

Largest screen size

*/


h1 {

  font-size: 15vw;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 4vw;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

h3 {font-size: 6vw;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

h4 {
  font-size: 3vw;
}

h5 {
  font-size: 3vw;
}

p {
  font-size: 1vw;
  line-height: 60px;
  font-family: 'Open Sans', sans-serif;
}

.font_colour {
  color: #282C34;
}

body a {
  text-decoration: none;

}

@media only screen and (max-width: 2560px) {
  #wrapper {
  max-width: 70%;
  margin: 0 auto;
  float: none;
    }

    h1 {

      font-size: 10vw;
      margin: 0px;
      padding: 0px;
    }

#navigation li {
  list-style: none;
  display: inline;
  margin: 5 15;
  float: right;
}

#navigation a {
  color: white;
}

navigation a, a:visited {
  color: white;
}

#title_div {
  background-color: #282C34;
  height: 55vh;
  box-sizing: border-box;
  padding: 10% 0%;
  margin-bottom: 20vh;
  color: white;
  text-align: center;
}

#first_block {
  width: 100%;
  display: block;
  padding-bottom: 60px;
  margin-top: 40px;
  margin-bottom: 60px;
  clear: right;
  text-align: center;
}

#image_div {
  width: 90%;
  margin-bottom: 100px;
  padding 0 30px;
  margin: 0 auto;
}

#profile_image {
  max-width: 100%;
  margin: 0 auto;
}

#about_me {
  width: 100%;
  float: left;
  text-align: center;
  background-color: #F6F6F6;
  min-height: 35vh;
  max-height: 40vh;
  box-sizing: border-box;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5;
  margin-top: 10%;
}

 #marvel_chapter {
   float: left;
   text-align: center;
   width: 100%;
   background-color: #F6F6F6;
   min-height: 60vh;
   box-sizing: border-box;
   padding-top: 40px;
   padding-bottom: 30px;
   padding-left: 40px;
   padding-right: 40px;
 }

#next-steps {
  width: 100%;
  height: 300px;
  float: left;
  text-align: center;
  background-color: #F6F6F6;
  min-height: 45vh;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

#soft_skills {
min-height: 400px;
max-height: 500px;
}

#hard_skills {
  float: left;
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

#testing {
  float: left;
  display: inline;
  width: 100%;

}
#python {
  float: left;
  display: inline;
  width: 100%;

}

#django {
  float: left;
  width: 100%;

}

#salesforce {
  float: left;
  display: inline;
  width: 100%;
}

#soft_skills {
  float: left;
  width: 100%;
  min-height: 400px;
  max-height: 500px;
  display: block;
  text-align: center;
  background-color: #F6F6F6;
}

#find_me {
  float: left;
  text-align: center;
  width: 100%;
}

#links-1{
  width: 100%;
  text-align: center;
  clear: left;
}

}
#twitter:hover {
  color: #282C34;
  background-color: #C8E7EB;
}

#github:hover  {
  color: #282C34;
  background-color: #C8E7EB;
}

#codewars:hover  {
  color: #282C34;
  background-color: #C8E7EB;
}

#next_step:hover  {
  color: #282C34;
  background-color: #C8E7EB;
}

#linked_in:hover  {
  color: #282C34;
  background-color: #C8E7EB;
}

#marvel:hover  {
  color: #282C34;
  background-color: #C8E7EB;
}

.dark_background {
  background-color: #3A3B3F;
  color: white;
  box-sizing: border-box;
  min-height: 300px;
  max-height: 350px;
  width: 31%;
  margin: 1%;
  padding: 1%;
  display: inline-block;
  float: left;
}


#footer {
  clear: left;
  float: left;
  width: 100%;
  height: 5vh;
  text-align: center;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 10%;
  background-color: #F6F6F6;
  }
}


@media only screen and (max-width: 2200px) {
  #wrapper {

    }

    #title_div {
      max-height: 70vh;
      box-sizing: border-box;
      padding: 10% 0%;
      margin-bottom: 10vh;
    }

    #marvel_chapter {
      height: 700px;
    }

    #next-steps {

      min-height: 20px;
      max-height: 300px;
      padding-bottom: 5%;
    }

    #soft_skills {
      min-height: 400px;
      max-height: 500px;
    }

    .dark_background {
      background-color: #3A3B3F;
      color: white;
      box-sizing: border-box;
      min-height: 200px;
      max-height: 250px;
      width: 45%;
      margin: 2.5%;
      padding: 2%;
      display: inline-block;
      float: left;
    }

}


@media only screen and (max-width:1900px) {
  #wrapper {
    }

    p {
      font-size: 2vw;
      line-height: 40px;
      font-family: 'Open Sans', sans-serif;
    }
    #title_div {
      height: 45vh;
      box-sizing: border-box;
      padding: 10% 0%;
      margin-bottom: 10vh;
    }

    #about_me {
      max-height: 55vh;
    }

    #marvel_chapter {
      height: 900px;
    }

    #next-steps {
      min-height: 20px;
      max-height: 400px;
      padding: 0;
      margin: 0;

    }

    #soft_skills {
      min-height: 400px;
      max-height: 500px;
    }

    .dark_background {
      background-color: #3A3B3F;
      color: white;
      box-sizing: border-box;
      min-height: 200px;
      max-height: 250px;
      width: 45%;
      margin: 2.5%;
      padding: 2%;
      display: inline-block;
      float: left;
    }

}
@media only screen and (max-width: 1000px) {
  #wrapper {
  min-width: 95%;
    }

    p {
      font-size: 3vw;
      line-height: 40px;
      font-family: 'Open Sans', sans-serif;
    }

    h2 {
      font-size: 5vw;
      line-height: 70px;
      font-family: 'Open Sans', sans-serif;
    }

    h4 {
      font-size: 4vw;
      line-height: 40px;
      font-family: 'Open Sans', sans-serif;
    }
    h5 {
      font-size: 5vw;
      line-height: 10px;
      font-family: 'Open Sans', sans-serif;
    }
    #title_div {
      background-color: #282C34;
      height: 30vh;
      box-sizing: border-box;
      padding: 10% 0%;
      margin-bottom: 20vh;
      color: white;
      text-align: center;
    }

    #footer {

    }

    #title_div {
      max-height: 70vh;
      box-sizing: border-box;
      padding: 15% 0%;
      margin-bottom: 10vh;
    }
  #about_me {
    padding: 10% 2% 3% 2%;
  }

    #marvel_chapter {
      height: 1000px;

    }

    #next-steps {
      min-height: 20px;
      max-height: 400px;
      padding: 0;
      margin: 0;
    }

    #soft_skills {
      min-height: 400px;
      max-height: 500px;
    }

    #find_me {
    padding-top: 5%;
    min-height: 8vh;
    }
    .dark_background {
      background-color: #3A3B3F;
      color: white;
      box-sizing: border-box;
      min-height: 200px;
      max-height: 250px;
      width: 45%;
      margin: 2.5%;
      padding: 3% 0;
      display: inline-block;
      float: left;
    }
}

@media only screen and (max-width: 500px) {
  p {
    font-size: 3.5vw;
    line-height: 35px;
    font-family: 'Open Sans', sans-serif;
  }

  h2 {
    font-size: 5vw;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
  }

  h4 {
    font-size: 4vw;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
  }
  h5 {
    font-size: 9vw;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
  }

  #wrapper {

    min-width: 100%;
    }

    #title_div {
      background-color: #282C34;
      max-height: 200px;
      box-sizing: border-box;
      padding: 80px 0px 50px 0px;
      margin-bottom: 10px;
      color: white;
      text-align: center;
    }
#first_block {

margin-bottom: 3%;
}

#image_div {
  margin-bottom: 10%;
}
#about_me {
  min-height: 25vh;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 60px;
}
#marvel_chapter {
  max-height: 90vh;
  min-height: 80vh;
}

#next-steps {
  min-height: 20vh;
  max-height: 25vh;
}
#soft_skills {
  min-height: 400px;
  max-height: 500px;
}

#find_me {

  height: 80px;
}
    .dark_background {
      background-color: #3A3B3F;
      color: white;
      box-sizing: border-box;
      min-height: 200px;
      max-height: 250px;
      width: 95%;
      margin: 2.5%, auto ;
      padding: 10%;
      display: inline-block;
      float: center;
    }

    #soft_skills {
      min-height: 300px;
      max-height: 400px;
    }
}
