/*
    LARGEST SCREEN SIZE
*/

/*  FONTS   */
h1 {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 50px;
  padding: 0px;
}

h3 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
}

p {
  font-size: 10px;
  line-height: 60px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #ba0044;
  text-decoration: none;
}

a:visited {
  color: #ba0044;
}

.font_colour {
  color: #282C34;
}

.handwriting {
  font-family: 'Pacifico', cursive;
  color: #ba0044;
}

.skills {
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  line-height: 80px;
}

body {
  background-color: white;
  height:100%;
  margin:0;
}

#title_div {
  background-color: #282C34;
  height: 55vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#wrapper {
  width: 70%;
  margin: 0 auto;
  float: none;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 40px;
  }

#first_block {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}

#image_div {
  margin-bottom: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
}

#profile_image {
  max-width: 100%;
}

#about_me {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#background {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

#projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

#hard_skills_title {
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

#hard_skills {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, minmax(250px, 1fr));
  grid-row-gap: 60px;
}

#javascript {
    background-color: #40b69c;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#python {
    background-color: #fa5758;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#testing {
  background-color: #2a495d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

#django {
  background-color: #ed8b36;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.a {
  width: 40%;
}

.b {
  width: 60%;
}

#soft_skills {
  float: left;
  display: block;
  text-align: center;
}

#find_me {
  text-align: center;
}

.dark_background:hover {
  color: #282C34;
  background-color: #C8E7EB;
}

#footer {
  clear: left;
  float: left;
  width: 100%;
  height: 5vh;
  text-align: center;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 10%;
  background-color: #F6F6F6;
}

@media only screen and (min-width: 1601px) and (max-width: 2560px) {

h1 {
  font-size: 10vw;
}


h2 {
  font-size: 70px;
}

h5 {
  font-size: 30px;;
}

h4 {
  font-size: 30px;;
}

p {
  font-size: 25px;;
}

#links-1{
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 40px;
  grid-auto-rows: minmax(300px, 1fr);
}

.dark_background {
  background-color: #3A3B3F;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 100%;
  }

}

@media only screen and (min-width: 1001px) and (max-width:1600px) {

p {
  font-size: 20px;;
  line-height: 40px;
}

h1 {
  font-size: 50px;
}

h2 {
  margin: 10px;
}

h3 {
  margin: 10px;
}

h4 {
  font-size: 30px;
}

#title_div {
  height: 300px;
}

#links-1{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
  grid-auto-rows: minmax(200px, 1fr);
}

.dark_background {
  background-color: #3A3B3F;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  width: 100%;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {

#wrapper {
  width: 95%;
  margin: 0 auto;
}

p {
  font-size: 3vw;
  line-height: 40px;
}

h1 {
  font-size: 60px;
  line-height: 40px;
  margin: 5px;
}

h2 {
  font-size: 5vw;
  line-height: 70px;
  margin: 10px;
}

h4 {
  font-size: 4vw;
  line-height: 40px;
}

h5 {
  font-size: 20px;
  line-height: 30px;
}

#title_div {
  height: 300px;
}

#links-1{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 40px;
  grid-auto-rows: minmax(200px, 1fr);
}

.dark_background {
  background-color: #3A3B3F;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  width: 100%;
  }

#footer {
  min-height: 100px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 700px) {

p {
  font-size: 20px;
  line-height: 35px;
}

h1 {
  font-size: 35px;
  line-height: 40px;
}

h2 {
  font-size: 30px;
  line-height: 0px;
}

h3 {
  font-size: 18px;
  line-height: 40px;
}

h4 {
  font-size: 20px;
  line-height: 40px;
}

h5 {
  font-size: 16px;
  line-height: 80px;
}

#title_div {
  height: 250px;
}

#wrapper {
  grid-template-rows: minmax(150px, 1fr);
  }

#javascript {
    flex-direction: column;
}

#python {
  flex-direction: column;
}

#testing {
  flex-direction: column;
}

#django {
  flex-direction: column;
}

.a {
  width: 100%;
  min-height: 100px;
}

.b {
  width: 100%;
}

#links-1{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 40px;
  grid-auto-rows: minmax(150px, 1fr);
}

.dark_background {
  background-color: #3A3B3F;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
  width: 100%;
  }
}


@media only screen and (max-width: 400px)  {
p {
  font-size: 20px;
  line-height: 35px;
}

h1 {
  font-size: 35px;
  line-height: 40px;
}

h2 {
  font-size: 30px;
  line-height: 0px;
}

h3 {
  font-size: 18px;
  line-height: 40px;
  }

h4 {
  font-size: 20px;
  line-height: 40px;
}

h5 {
  font-size: 16px;
  line-height: 80px;
}

#title_div {
  height: 250px;
}

#wrapper {
  grid-template-rows: minmax(150px, 1fr);
  }

#javascript {
    flex-direction: column;
}

#python {
  flex-direction: column;
}

#testing {
  flex-direction: column;
}

#django {
  flex-direction: column;
}

.a {
  width: 100%;
  min-height: 100px;
}

.b {
  width: 100%;
}

#wrapper {
  width: 90%;
  margin: 0 auto;
}

#links-1{
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, 1fr);
}

.dark_background {
  background-color: #3A3B3F;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 100%;
  }

#footer {
  padding: 10px;]
}

}
