/***************************************************
                STYLES FOR MAIN WEBSITE HEADER
                MARILYN MAGNUSEN
****************************************************/

#title-div {
    background-color: #282C34;
    height: 300px;
    width: 100%;
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
  
    @media only screen and (min-width: 1001px) and (max-width:1600px) {
      height: 300px;
    }
  
    @media only screen and (min-width: 701px) and (max-width: 1000px) {
      height: 300px;
    }
  
    @media only screen and (min-width: 401px) and (max-width: 700px) {
      height: 250px;
    }
  
    @media only screen and (max-width: 400px)  {
      height: 250px;
    }
  }