@import '../../constants/breakpoints';
@import '../../constants/colors';

$module: 'FindMe';

.#{$module} { 
    margin-bottom: 4rem;
    &-onWeb {
        text-align: center;
        width: 100%;
        display: block;
        justify-content: center;
        align-self: center;
        align-items: center;
        align-content: center;  
        margin-bottom: 4rem;
    }

    &-externalLinks {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 20px;
        grid-auto-rows: minmax(100px, 1fr);
        h4 {
            font-size: 1.4rem;
        }
        @media only screen and (min-width: $mobileLargeBreakpoint)  {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 40px;
            grid-auto-rows: minmax(150px, 1fr);
        }
        @media only screen and (min-width: $computerBreakpoint) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &-darkBackground {
        background-color: #3A3B3F;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        height: 100px;
        &:hover {
            color: #282C34;
            background-color: #C8E7EB;
        }
        @media only screen and (min-width: $mobileLargeBreakpoint) {
            height: 150px;
        }
    }
}   
