@import '../../constants/breakpoints';

$module: 'FindMe';

.#{$module} { 
    margin-bottom: 4rem;
    &-onWeb {
        text-align: center;
        width: 100%;
        display: block;
        justify-content: center;
        align-self: center;
        align-items: center;
        align-content: center;  
    }

    &-externalLinks {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 20px;
        grid-auto-rows: minmax(100px, 1fr);

        @media only screen and (min-width: 401px)  {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 40px;
            grid-auto-rows: minmax(150px, 1fr);
        }

        @media only screen and (min-width: 701px) {
            grid-auto-rows: minmax(200px, 1fr);
        }

        @media only screen and (min-width: 1001px) {
            grid-template-columns: repeat(3, 33%);
        }

        @media only screen and (min-width: 1601px) {
            grid-auto-rows: minmax(300px, 1fr);
        }    
    }

    &-darkBackground {
        background-color: #3A3B3F;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        &:hover {
        color: #282C34;
        background-color: #C8E7EB;
        }
        @media only screen and (max-width: 400px)  {
            text-align: center;
            height: 100px;
        }
    
        @media only screen and (min-width: 401px) and (max-width: 700px) {
            height: 150px;
        }

        @media only screen and (min-width: 701px) and (max-width: 1000px) {
            height: 200px;
        }

        @media only screen and (min-width: 1001px) and (max-width:1600px) {
            height: 200px;
        }

        @media only screen and (min-width: 1601px) and (max-width: 2560px) {
            height: 300px;
        }
    }
}   
